// COLOR VARIABLES
$color-primary: #5690b3;
$color-primary-light: #b2ddf7;
$color-primary-dark: #010e34;

$color-secondary-1: #f1ed00;
$color-secondary-2: #f5f112;
$color-secondary-3: #f97729;

$color-black: #000;
$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #444;

$color-button: #fff;

// FONTS
$font-primary: 'Poppins', sans-serif;
$font-size-title: 4rem;
$font-size-largest: 3.2rem;
$font-size-larger: 3rem;
$font-size-mid-large: 2.8rem;
$font-size-large: 2.6rem;
$font-size-mid-high: 2.4rem;
$font-size-medium: 2rem;
$font-size-small: 1.8rem;
$font-size-smaller: 1.6rem;
$font-size-smallest: 1.5rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //1200px
$bp-larger: 68.75em; //1100px
$bp-large: 62.5em; //1000px
$bp-mid-high: 56.25em; //900px
$bp-medium: 50em; //800px
$bp-small: 43.75em; //700px
$bp-smaller: 37.5em; //600px
$bp-smallest: 31.25em; //500px
$bp-x-small: 25em; //400px
